body {
    background-image: url(../imagens/workspace.png);
    background-color: #150215de;
    background-blend-mode: darken;
    font-family: Times New Roman;
    font-size: 16pt;
    color: #70ce78;
    margin: 0;
    padding: 2px;
}
.menu {
    position:relative;
    height: 50px;
    display: flex;
    justify-content:initial;
    align-items: inherit;
}
.menu .box {
    width: 25%;
    height: 100%;
    display: flex;
    margin: 2px;
}
.centralizar {
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}
h2 {
    margin-top: 20px;
}
p, p em, ul li{
    color: #e2d990e9;
}
nav a {
    color: #497444;
}
.container {
    display: flex;
}
.paragrafo {
    width: 400px;
    margin: 5px;
    text-align: justify;
    text-indent: 5px;
    font-size: 16px;
}
.notebook, .codigos {
    margin: 10px;
}
